/*** GLOBAL ***/
/**************/

* {
	margin: 0;
	padding: 0;
}

img, embed, object, video {
	max-width: 100%;
}

@font-face {
	font-family: 'fontello';
	src: url("./fonts/fontello.eot");
	src: url("./fonts/fontello.eot?#iefix") format('embedded-opentype'), url("./fonts/fontello.woff") format('woff'), url("./fonts/fontello.ttf") format('truetype'), url("./fonts/fontello.svg#fontello") format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Bitter', 'Droid Serif', Georgia, serif;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	line-height: 1.8em;
	background: #181818;
	color: #ddd;
}

::-moz-selection {
	background: #ffd200;
	color: #000;
}

::selection {
	background: #ffd200;
	color: #000;
}

a, a:visited, img {
	-moz-transition: color 0.6s, background 0.6s;
	-webkit-transition: color 0.6s, background 0.6s;
	-o-transition: color 0.6s, background 0.6s;
	transition: color 0.6s, background 0.6s;
	color: #ffd200;
	text-decoration: none;
	border-bottom: solid 1px transparent;
}

a:hover {
	color: #ddd;
	display: block-inline;
	cursor: pointer;
	border-color: #ffd200;
}

a.img {
	border: none !important;
}

#container {
	width: 90%;
	margin: 0 auto;
}

/*** TYPOGRAPHY ***/
/******************/

h1, h2, h3 {
	font-size: 1.285em;
	font-weight: normal;
	line-height: 1.6em;
	margin: 0;
	padding: 1.9em 0 0.8em;
}

p {
	margin: 0;
	padding: 0.9em 0;
}

ul, ol {
	padding: 0.8em 0;
}

ul li {
	margin-left: 1.2em;
	padding-left: 0.2em;
}

/* slightly bigger padding because of numbers	*/
ol li {
	margin-left: 1.3em;
	padding-left: 0.3em;
}

code {
	font-family: 'Menlo', 'Consolas', monospace, 'Courier New';
	font-size: 0.928em;
	font-weight: bold;
	white-space: pre-wrap;			 /* css-3 */
	white-space: -moz-pre-wrap !important;	/* Mozilla, since 1999 */
	white-space: -pre-wrap;			 /* Opera 4-6 */
	white-space: -o-pre-wrap;		 /* Opera 7 */
	word-wrap: break-word;			 /* Internet Explorer 5.5+ */
}

pre {
	margin: 0.9em 0;
}

pre>code {
	font-weight: normal;
}

blockquote em, pre {
	display: block;
	border-left: solid 3px #ffd200;
	background: #1c1c1c;
	padding: 5px 16px;
}

/*** HEADER ***/
/**************/

#header {
	margin: 0 auto;
	text-transform: uppercase;
	font-size: 0.785em;
	color: #555;
	position: relative;
	z-index: 1;
}

/* hides extra text in mobile */
#header {
	visibility: hidden;
}

#header .logo {
	padding: 1.6em 0;
	text-align: center;
	width: 100%;
	height: 50px;
	visibility: visible;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.links {
	margin: 1em 0 0;
}

.links a {
	margin: 0 1%;
}

/*** BLOG CONTENT ***/
/**************/

/* footnote link in text should be bold */
a[rel="footnote"] {
	font-weight: bold;
	border-bottom: none;
	padding: 3px;
}

/* move footnotes container down */
.footnotes {
	margin: 2.5em 0 0.5em;
}

/* title of footnotes container */
.footnotes:before {
	content: "FOOTNOTES:";
	display: block;
	padding-bottom: -0.6em;
}

/* hide the	*/
.footnotes hr {
	display: none;
}

/* target the footnote on click */
.footnotes li:target, sup:target {
 	background: #1c1c1c;
}

/* back to text link */
a[rev="footnote"] {
	font-weight: bold;
	border-bottom: none;
	color: #ffd200 !important;
}

/* back to text link (actual text) */
a[rev="footnote"]:after {
	content: "Back to Text";
	text-transform: uppercase;
	font-size: 0.875em;
}

/* hover effects for footnotes */
a[rel="footnote"]:hover, a[rev="footnote"]:hover {
	color: #ddd;
	border-bottom: solid 1px #ffd200;
}

/*** CONTENT ***/
/**************/

#content {
	margin-top: 3em;
}

#click_for_bigger {
	display: none;
}

#quote, #error {
	text-align: center;
	position: relative;
	margin-bottom: 2em;
}

#quote h1 {
	display: inline;
}

#quote a {
	text-indent: -9999px;
	position: relative;
	display: none;
	height: 40px;
	width: 40px;
	border: none !important;
	color: #333 !important;
}

#quote a:after {
	content: '1';
	font-family: 'fontello';
	font-size: 16px;
	width: 40px;
	position: absolute;
	top: -1px;
	left: 0;
	text-indent: 0;
}

header h2 {
	text-align: center;
	padding: 0;
	margin-bottom: 6.5%;
}

header h2:before {
	content: "// ";
	color: #ffd200;
}

.button, .more a, .read-more {
	border: none !important;
	background: #ffd200;
	padding: 0.9em 2em;
	display: inline-block;
	color: #111 !important;
}

.button:hover, .read-more:hover {
	background: #ddd;
}

/* fix equal vertical spacing issue */
#blog, #portfolio, #store {
	margin: -2.44em 0 4em;
	position: relative;
}

#blog .date {
	text-transform: uppercase;
	color: #555;
	font-size: 0.785em;
	padding: 0;
}

#blog img {
	width: 100%;
}

/* removes padding from paragraph and adds it to link (below) */
.archive-post p {
	padding: 0;
}

.archive-post p a, .recent-articles p a {
	display: block;
	border: none !important;
	padding: 0.9em 0;
	position: relative;
}

.archive-post p a span, .recent-articles p a span {
	color: #555;
	font-size: 0.875em;
}

.archive-post p a:hover, .recent-articles p a:hover {
	background: #ffd200;
	color: #111 !important;
	padding-left: 10px;
}

.twitter-mention-button {
	vertical-align: -25%;
}

figcaption {
	margin: -1em 0 -1em;
	display: block;
	font-style: italic;
	color: #555;
}

.design {
	margin-bottom: 2.25em;
}

.design:last-child {
	margin-bottom: -1em;
}

.design>a:first-child {
	text-align: center;
	width: 100%;
	display: inline-block;
	border: none;
}

.design h3 {
	padding: 1em 0 0;
	text-align: center;
}

.design div span {
	text-align: center;
	display: block;
}

.design span {
	text-transform: uppercase;
	color: #555;
	font-size: 0.785em;
	display: inline-block;
	padding-bottom: 1.05em;
}

.hire_me {
	text-align: center;
	margin: 4em 0;
}

.hire_me a {
	background: #ffd200;
	padding: 1.1em 3em;
	color: #111 !important;
	border: none !important;
	font-size: 18px;
}

.hire_me a:hover {
	background: #ddd;
}

.bio>img:first-child {
	width: 100%;
	max-width: 360px;
	display: block;
	margin: 0 auto;
}

.bio h3 {
	padding-top: 1.4em;
}

#location h4, .cool_facts h4 {
	text-transform: uppercase;
	color: #555;
	font-size: 0.785em;
	font-weight: normal;
}

#location h4:before, .cool_facts h4:before {
	content: "// ";
	color: #ffd200;
}

#location {
	margin: 1.5em 5% 0 0;
	vertical-align: top;
	position: relative;
}

.map {
	position: relative;
}

#location img {
	margin-top: 5%;
	width: 100%;
}

#location span {
	text-transform: uppercase;
	font-size: 0.785em;
	position: absolute;
	display: block;
	top: 28.5%;
	left: 48.5%;
}

#location span:before {
	content: "\2022";
	color: #ffd200;
	font-size: 0.875em;
	padding-right: 10px;
	text-decoration: blink;
}

.cool_facts {
	margin-top: 1.5em;
}

.cool_facts>p {
	display: inline-block;
	width: 53%;
	vertical-align: top;
	text-transform: uppercase;
	font-size: 0.785em;
}

.cool_facts>p:nth-child(2n+0) {
	width: 37%;
	margin-right: 8%;
}

.cool_facts>p>span {
	font-size: 4.6em;
	float: left;
	margin-right: 14px;
	line-height: 1em;
	padding-bottom: 0.5em;
}

.cool_facts>p:nth-child(5) span {
	width: 55px;
	text-align:right;
}

.death {
	margin-top: 1em;
}

.death p {
	text-transform: uppercase;
	font-size: 0.785em;
}

.meter { 
	height: 2.5em;
	background: #2d2d2d;
	width: 99%;
}

.meter span {
	display: block;
	background-color: #ffd200;
	height: 100%;
	vertical-align: middle;
	line-height: 1.35em;
	color: #181818;
	font-size: 1.875em;
	padding-right: 2%;
	text-align: right;
}

#testimonials {
	margin-top: 4em;
}

.testimonial {
	margin-bottom: 2.4em;
}

.testimonial h3 {
	text-align: center;
	padding: 1.2em 0 0.1em;
}

.testimonial img:first-child {
	margin: 0 auto;
	display: block;
	width: 200px;
	height: 200px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/* match padding for h2 under h1 in portfolio with line height */
#portfolio h1+h2 {
	padding: 0.45em 0 0.4em;
}

.details {
	position: relative;
}

/* the title of each section */
.details span:first-child {
	text-transform: uppercase;
	color: #555;
	font-size: 0.785em;
	display: block;
}

.details span:first-child:before {
	content: "// ";
	color: #ffd200;
}

.details .button {
	margin: 1.7em 0 2.4em;
}

/* adds right spacing to text and profile pic */
.details p:first-child, .details img {
	margin-right: 3%;
}

.details img {
	display: none;
}

.next_previous {
	padding: 3em 0 2.5em;
}

.next_previous span {
	display: inline-block;
	width: 49.5%;
	background: #1c1c1c;
	padding: 0.9em 0;
}

/* remove gap between links */
.next_previous span:first-child, .next_previous a:first-child {
	margin-right: -0.6%;
}

.next_previous a {
	background: #222;
	border-color: transparent !important;
	display: inline-block;
	padding: 0.9em 0;
	width: 49.5%;
	text-align: center;
	position: relative;
}

.next_previous a:hover {
	background: #ffd200;
	color: #111;
}

/* adds the arrow */
.next_previous a:last-child:before, .next_previous a:first-child:before {
	content: '4';
	font-family: 'fontello';
	color: #444;
	font-size: 15px;
	width: 40px;
	position: absolute;
	top: 12px;
	left: -15px;
}

.next_previous a:first-child:before {
	left: auto;
	right: -15px;
	top: 13px;
	-webkit-transform: rotate(-180deg); 
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

/*** FOOTER ***/
/**************/

footer {
	padding-bottom: 5%;
	font-size: 0.785em;
	line-height: 1.8em;
	text-align: center;
}

nav {
	text-transform: uppercase;
	word-spacing: 8px;
}

.to_top {
	text-indent: -9999px;
	display: inline-block;
	border-color: transparent !important;
	position: relative;
}

.to_top:before {
	display: block;
	text-indent: 0;
	content: '4';
	font-family: 'fontello';
	font-size: 15px;
	width: 20px;
	position: absolute;
	top: -2px;
	left: 1px;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.copyright {
	color: #333;
}


/*** ABOVE 768px ***/
/*******************/


@media screen and (min-width: 768px){
	#click_for_bigger {
		background-color:	rgba(0,0,0,0.88);
		color: #ffd200;
		font-size: 15px;
		width: 100%;
		line-height: 3.8em;
		margin-top: 8em;
		position: absolute;
		text-align:	center;
		display: block !important;
	}

	figcaption {
		margin: -1em 0 1em;
	}

	#container {
		padding-top: 1.6em;
		width: 60%;
	}

	#header {
		padding-top: 3.55em;
		visibility: visible;
		text-align: center;
	}

	/* compensate for the second, right-sided, tagline being too long */
	#header .title {
		margin-left: 4em;
		color: #555 !important;
		padding-bottom: 1px;
	}

	#header .title:hover {
		color: #ddd !important;
	}

	#header .logo {
		width: 20%;
		margin: 0 10%;
	}

	.links {
		margin-top: -7.5em;
		display: block;
		position: relative;
		width: 100%;
		text-align: center;
		filter: alpha(opacity=0);
		-moz-opacity: 0;
		-khtml-opacity: 0;
		opacity: 0;
		-moz-transform-origin: 50% 50%;
		-moz-transform: translateY(50px) scale(0);
		-moz-transition: -moz-transform 0.3s cubic-bezier(.71,.73,.27,1), opacity 0.1s ease-in-out;
		-webkit-transform-origin: 50% 50%;
		-webkit-transform: translateY(50px) scale(0);
		-webkit-transition: -webkit-transform 0.3s cubic-bezier(.71,.73,.27,1), opacity 0.1s ease-in-out;
		-ms-transform-origin: 50% 50%;
		-ms-transform: translateY(50px) scale(0);
		-ms-transition: -ms-transform 0.3s cubic-bezier(.71,.73,.27,1), opacity 0.1s ease-in-out;
		-o-transform-origin: 50% 50%;
		-o-transform: translateY(50px) scale(0);
		-o-transition: -o-transform 0.3s cubic-bezier(.71,.73,.27,1), opacity 0.1s ease-in-out;
		transform-origin: 50% 50%;
		transform: translateY(50px) scale(0);
		transition: transform 0.3s cubic-bezier(.71,.73,.27,1), opacity 0.1s ease-in-out;
	}

	.logo:hover>.links {
		filter: alpha(opacity=100);
		-moz-opacity: 1;
		-khtml-opacity: 1;
		opacity: 1;
		-moz-transform: translateY(0px) scale(1);
		-webkit-transform: translateY(0px) scale(1);
		-ms-transform: translateY(0px) scale(1);
		-o-transform: translateY(0px) scale(1);
		transform: translateY(0px) scale(1);
	}

	.links a {
		display: block;
		padding: 0.2em;
	}

	.links a:hover {
		border-color: transparent;
		color: #fff !important;
		direction: rtl;
		unicode-bidi: bidi-override;
	}

	/* arrange position of each link. Use margin with left @ 50% so that resizing keeps links in place */
	.links a:nth-child(1) {
		position: absolute;
		left: 50%;
		margin-left: -1.7em;
		top: 0;
	}

	.links a:nth-child(2) {
		-webkit-transform: rotate(-65deg) translate3d( 0, 0, 0);;
		-moz-transform: rotate(-65deg);
		-ms-transform: rotate(-65deg);
		-o-transform: rotate(-65deg);
		transform: rotate(-65deg);
		position: absolute;
		left: 50%;
		margin-left: -4.6em;
		top: 3.3em;
	}

	.links a:nth-child(3) {
		-webkit-transform: rotate(65deg) translate3d( 0, 0, 0);
		-moz-transform: rotate(65deg);
		-ms-transform: rotate(65deg);
		-o-transform: rotate(65deg);
		transform: rotate(-65deg);
		position: absolute;
		left: 50%;
		margin-left: 1.4em;
		top: 3.4em;
	}

	.links a:nth-child(4) {
		position: absolute;
		left: 50%;
		margin-left: -2.5em;
		top: 6.5em;
	}

	/*** CONTENT ***/
	/**************/

	#content {
		margin-top: 2.9em;
	}

	#quote, #error {
		margin-bottom: 5.9em;
	}

	.design {
		position: relative;
		width: 110%;
		margin: 0 0 1.55em -5%;
	}

	/* Clearfix */
	.design:after {
		content: "";
		clear:both;
		display: block;
	}

	.design>a:first-child {
		display: inline-block;
		width: 42%;
		border-bottom: none !important;
		padding-top: 6px;
		position: relative;
		margin-right: 5%;
		vertical-align: top;
		text-align: left;
	}

	.design>a:first-child img {
		width: 100%;
		max-width: 268px;
		height: auto;
	}

	.design div {
		display: inline-block;
		width: 52%;
		padding-top: 0.75em;
	}

	.design h3 {
		text-align: left;
		padding-top: 0;
	}

	.design div span {
		text-align: left;
		display: inline-block;
	}

	.hire_me {
		margin: 6.7em 0;
	}

	.map {
		height: 165px;
	}

	#about {
		width: 130%;
		margin-left: -15%;
	}

	.bio>img:first-child {
		display: inline-block;
		width: 43.3%;
		margin-right: 5%;
		padding-top: 6px;
		vertical-align: top;
	}

	.bio>div {
		display: inline-block;
		width: 51%;
	}

	.bio h3 {
		padding-top: 0;
	}

	#location {
		display: inline-block;
		width: 43.2%;
	}

	.cool_facts {
		display: inline-block;
		width: 51%;
	}

	#testimonials {
		width: 130%;
		margin: 6.4em 0 0 -15%;
	}

	.testimonial {
		width: 47%;
		display: inline-block;
		vertical-align: top;
	}

	/* first left-most testimonial has right margin */
	.testimonial:nth-child(2n+0) {
		margin-right: 5%;
	}

	.testimonial h3 {
		padding-top: 1.8em;
	}

	.details .button {
		position: absolute;
		top: 43px;
		right: 0;
		margin: 0;
	}

	/* move the "client says" div up to match line height */
	.details div {
		margin: -0.9em 0 0.6em;
	}

	.details p {
		display: inline-block;
		width: 33%;
		vertical-align: top;
	}

	/* no padding for last <p> element (quote from client) */
	.details p:last-child {
		padding: 0;
		width: 77%;
	}
}


/*** ABOVE 1024px ***/
/*******************/


@media screen and (min-width: 1024px){
	img {
		max-width: 800px;
	}

	#click_for_bigger {
		width: 800px;
		margin: 10em 0 0 -16%;
	}

	#container {
		width: 600px;
	}

	#quote, #error {
		width: 120%;
		margin-left: -10%;
	}

	#blog img, #portfolio img {
		margin-left: -16%;
		width: auto;
	}

	/* move image of client back */
	.details img {
		width: 19%;
		margin-top: 1%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		display: inline;
		margin-left: 0 !important;
		width: 17% !important; 
	}

	.cool_facts>p {
		margin-bottom: -2em;
	}

	#testimonials {
		width: 160%;
		margin: 6.4em 0 0 -30%;
	}

	.testimonial {
		width: 29.5%;
		margin-right: 5%;
		margin-top: -0.5em; /* moves testimonials up a bit because of images (not equally vertically spaced) */
	}

	/* remove right margin from right testimonial */
	#testimonials div:nth-last-child(2) {
		margin-right: 0;
	}

	/* hide 4th testimonial because only 3 are display in one line */
	#testimonials div:last-child {
		display: none;
	}
}